<nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="http://localhost:8000/">
        <span style="color:blue">МКБ</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/graph">График</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/files">Файлы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/uploadfiles">Загрузить</a>
        </li>
      </ul>
    </div>
  </nav>